html, body{
    margin: 0;
    min-height: 100vh;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title-td
{
    font-family: Helvetica;
   font-weight: bold;
   font-size: 30px;
   margin: 20px;
}
.To-Do-Box
{
    border: solid ;
    border-color: hotpink;
    

    font-family: Arial;
    font-weight: bold;
    text-align: center;
   
    height: 30px;
    width: 300px;
    margin-left: 20px;
}
.To-Do-Box:hover{
    border-color: rgb(157, 33, 95);
}
.To-Do-Date:hover{
    border-color:rgb(157, 33, 95);
}
.To-Do-Date
{
        border: solid ;
    border-color: hotpink;
    

    font-family: Arial;
    font-weight: bold;
    text-align: center;
   
    height: 32px;
    width: 150px;
     margin-left: 10px;
}
.add-button
{
         border: solid ;
    border-color: black;
    

    font-family: Arial;
    font-weight: bold;
    text-align: center;
   
    height: 38px;
    width: 80px;
    
    background-color: green;
    color: black;
    font-size: 15px;
    margin-left: 10px;
   transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out; 
}
.add-button:hover{
    box-shadow: 0 0 5px #0bea25,
                0 0 15px #05782d,
                0 0 30px #0ec846,
                0 0 60px #0daa10;
    transform: translateY(-0.5px);  
}
.div-para-name
{
    display: inline-block;
    width: 313px;
    margin-left: 20px;
    
}
.div-para-date
{
    display: inline-block;
    width: 157px;
    margin-left:15px;
}
.div-button
{
    display:inline-block;
    width: 80px;
    height:30px;
   margin-left: 5px;
}
.inside-button
{   background-color: rgba(190, 0, 0, 0.982);
    color: black;
    border-color: red;
    border: solid;
    height: 38px;
    width: 80px;
    border: solid;
    font-weight : bold;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out
}

.inside-button:hover{
    box-shadow: 0 0 5px #751919,
                0 0 15px #ff0000,
                0 0 30px #ff0000,
                0 0 60px #ff0000;
    transform: scale(1.05);
     transform: translateY(-0.5px);
}
.inside-para-date,.div-para-name{
    font-family: Helvetica;
   font-weight: bold;
   font-size: 20px;
}